 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
nav img{
    height: 50px;
    width: 135px;

}
ul{
    display: flex;
    gap: 20px;

}
ul li{
    text-decoration: none;
    padding: 20px 0px;
    list-style: none;
    background-color: rgb(255, 255, 255);
}
ul li:hover{   
    background-color: rgb(247, 0, 255);
    transition: all .4s ease;
    color: aliceblue;
}
ul li a{
    text-decoration: none;
    padding: 20px 42px;
    color: black;
    font-size: 18px;
}
ul li a:hover{
    background-color: rgb(234, 249, 255);
    /* color: aliceblue; */
}



.parent img{
    height: 600px;
    width: 600px;
}
.parent,
.parent0{
    display: flex;
    align-items: center;
    /* margin: 100px 300px; */
    padding: 100px 300px;
    justify-content: space-between;
}
.parent0{
    background-image: url(./top-banner.png);
    background-size: 1500px;
    background-repeat: no-repeat;
    background: rgb(239, 240, 240);
}
.parent{
    background-image: url(./shape-4.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 750px;
}
.parent2{
    /* background-image: url(./exp-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right; 
    background-size: 200px; */

    display: flex;
    align-items: center;
    /* margin: 100px 300px; */
    padding: 100px 200px;
    justify-content: space-between;
    background:rgb(239, 240, 240) ;

}
.parent2{
    gap: 100px;
    text-align: justify;
}
.parent2 .child{
    width: 50%;
    box-shadow: rgba(12, 24, 44, .1) 2px 3px 4px, rgba(12, 24, 44, .1) 2px 4px 16px;
    padding: 45px;
    border-left: 10px solid;
    border-image: linear-gradient(to bottom, rgb(115, 0, 255), rgb(255, 67, 98));
    border-image-slice: 1;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    background: linear-gradient(to left, rgb(254, 50, 169), rgb(8, 0, 100), rgb(254, 50, 169));
    padding: 13px 30px;
    border-radius: 8px;
    transition: all .4s ease;
    background-size: 200%;
    
}
.btn:hover{
    /* background-color: blue; */
    /* background: linear-gradient(rgb(0, 255, 47), rgb(139, 67, 255)); */
    /* transition: all .4s ease; */
    background-position: right;
}




footer{
    text-align: center;
    background-color: aliceblue;
    padding: 15px 0;
}
